#sectionWhosOnFirst dl, #sectionWhosOnFirst  table {
    display: inline-block;
    margin-bottom: 1em;
}
.collapsed dl, .collapsed table {
    display: none;
}
#sectionWhosOnFirst dl {
    margin-right: 4em;
}
#sectionWhosOnFirst dt {
    background-color: black;
    clear: left;
    color: white;
    margin-right: 1em;
    text-align: center;
    width: 6em;
}
#sectionWhosOnFirst dd {
    margin-bottom: 0.4em;
    margin-left: 0;
}
#sectionWhosOnFirst dt, #sectionWhosOnFirst  dd {
    float: left;
}
#sectionWhosOnFirst dt.inactive + dd {
    opacity: 0;
}
#sectionWhosOnFirst  table {
    margin-left: 0.5em;
}
#sectionWhosOnFirst th {
    border: 1px solid black;
}
