#sectionWires button {
    border-color: black;
    cursor: pointer;
    width: 2em;
    height: 2em;
}
.wireOptions__item {
    display: inline-block;
    margin-right: 0.5em;
}
#wireList {
    list-style-type: decimal;
}
